@using BlazorAutoPulse.Model
@using BlazorAutoPulse.ViewModel
@inject AnnonceComposantViewModel VM

<div class="car-card">
    <div class="car-image">
        @if (@Annonce.DatePublication >= DateTime.Now.AddMonths(-1))
        {
            <div class="car-badge">RÉCENT</div>
        }
        <img src="@VM.GetFirstImage(Annonce.IdVoiture)"/>
    </div>
    <div class="car-info">
        <h3 class="car-title">@Annonce.Libelle</h3>
        <div class="car-specs">
            <span>📅 @Annonce.Annee</span>
        </div>
        <div class="car-specs">
            <span>📊 @Annonce.Kilometrage</span>
        </div>
        <button class="car-btn">Voir Détails</button>
    </div>
</div>

@code {
    [Parameter]
    public Annonce Annonce { get; set; }
}