@using BlazorAutoPulse.Model
@using BlazorAutoPulse.ViewModel
@inject AnnonceComposantViewModel VM
@inject NavigationManager Navigation

<div class="car-card" @onclick="NavigateToDetail">
    <div class="car-image">
        @if (@VM.Annonce.DatePublication >= DateTime.Now.AddMonths(-1))
        {
            <div class="car-badge">RÉCENT</div>
        }

        <div class="favorite-icon @(VM.IsFavorite ? "favorite-active" : "")"
             @onclick="ToggleFavorite"
             @onclick:stopPropagation="true">
            @if (VM.IsFavorite)
            {
                <i class="fas fa-heart"></i>
            }
            else
            {
                <i class="far fa-heart"></i>
            }
        </div>

        <img src="@VM.GetFirstImage(VM.Annonce.IdVoiture)" />
    </div>
    <div class="car-info">
        <h3 class="car-title">@VM.Annonce.Libelle</h3>
        <div class="car-specs">

            <span>📅 @VM.Annonce.Annee</span>
        </div>
        <div class="car-specs">
            <span>📊 @VM.Annonce.Kilometrage km</span>
        </div>
        <div class="car-price">@VM.Annonce.Prix.ToString("N0") €</div>
        <button class="car-btn" @onclick="NavigateToDetail" @onclick:stopPropagation="true">Voir Détails</button>
    </div>
</div>

@code {
    [Parameter]
    public Annonce Annonce { get; set; }

    protected override async Task OnInitializedAsync()
    {
        VM.Annonce = Annonce;
        await VM.LoadFavoriteStatus();
    }

    private async Task ToggleFavorite()
    {
        await VM.ToggleFavoriteStatus();
    }

    private void NavigateToDetail()
    {
        Navigation.NavigateTo($"/annonce/{VM.Annonce.IdAnnonce}");
    }
}