@page "/compte"
@using BlazorAutoPulse.ViewModel
@inject NavigationManager Navigation
@inject CompteViewModel VM

<PageTitle>Mon Compte - AutoPulse</PageTitle>

<div class="account-container">
    <div class="sidebar">
        <div class="profile-section">
            <!-- Photo de profil -->
            <img src="" alt="Photo de Profil" class="profile-photo" />
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="/annonces">Annonces</a></li>
                <li><a href="/avis">Avis</a></li>
                <li><a href="/adresses">Adresses</a></li>
                <li><a href="/favoris">Favoris</a></li>
                <li><a href="/commandes">Commandes</a></li>
            </ul>
        </nav>
    </div>

    <div class="account-details">
        <h2>Informations de Compte</h2>

        <!-- Informations personnelles -->
        <div class="info-item">
            <strong>Nom:</strong> @VM.compte.Nom
        </div>
        <div class="info-item">
            <strong>Prénom:</strong> @VM.compte.Prenom
        </div>
        <div class="info-item">
            <strong>Date de naissance:</strong> @VM.compte.DateNaissance
        </div>
        <div class="info-item">
            <strong>Pseudo:</strong> @VM.compte.Pseudo
        </div>
        <div class="info-item">
            <strong>Email:</strong> @VM.compte.Email
        </div>

        <!-- Informations pour vendeur pro -->
        @* @if (VM. == "Vendeur Pro")
        {
            <div class="info-item">
                <strong>Numéro SIRET:</strong> @VM. 
            </div>
            <div class="info-item">
                <strong>Raison Sociale:</strong> @VM.
            </div>
        } *@

        <div class="edit-profile">
            <button @onclick="EditProfile">Modifier le profil</button>
        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await VM.InitializeAsync(StateHasChanged);
    }

    private void EditProfile()
    {
        // Logique pour modifier le profil utilisateur
        Navigation.NavigateTo("/edit-profile");
    }
}
