@page "/"
@using BlazorAutoPulse.ViewModel
@inject HomeViewModel VM

<PageTitle>AutoPulse</PageTitle>

<section class="hero no-bootstrap">
    <div class="hero-content">
        <h1>Trouvez Votre Voiture Idéale</h1>
        <p>Plus de 500 véhicules d'occasion sélectionnés et garantis</p>
        <div class="search-bar">
            <select @onchange="@VM.FiltreModeleParMarque">
                <option value="0">Marque</option>
                @if (VM.allMarques != null)
                {
                    @foreach (var marque in VM.allMarques)
                    {
                        <option value="@marque.IdMarque">@marque.LibelleMarque</option>
                    }
                }
            </select>

            <select>
                <option value="">Modèle</option>
                @if (VM.filteredModeles != null)
                {
                    @foreach (var modele in VM.filteredModeles)
                    {
                        <option value="@modele.IdModele">@modele.LibelleModele</option>
                    }
                }
            </select>
            <input type="text" placeholder="Prix max">
            <button>Rechercher</button>
        </div>
    </div>
</section>

<div>
    <h2>
        Résultats
    </h2>
    @if(VM.filteredAnnonces is not null)
    {
        <div class="container">
            <div class="cars-grid">
                @foreach (var a in VM.filteredAnnonces)
                {
                    <div>
                        <p>annonce</p>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p>Aucun résultat de recherche pour le moment.</p>
    })
</div>



<div class="container">
    <h2 class="section-title">Nos Dernières Offres</h2>
    @if (VM.allAnnonces is null)
    {
        <h2>Pas d'annonces mise en avant</h2>
    }
    else
    {
        <div class="container">
            <div class="cars-grid">
                @foreach (var a in VM.allAnnonces)
                {
                    <AnnonceComposant Annonce="@a" />
                }
            </div>
        </div>
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await VM.InitializeAsync(StateHasChanged);
    }

}